<!DOCTYPE html>
<html lang='ro'>
<head>
    <meta charset='utf-8'/>
    <title>România 1930</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700&subset=latin,latin-ext' rel='stylesheet'>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
<!--{{SCRIPTS}}-->
</body>
</html>
