/*
 * RESET
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    cursor: default;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
 * RESET SET
 */

 em { font-style: italic; }
 strong { font-weight: bold; }

body {
    font-family: 'Open Sans', sans-serif;
    color: #EEE;
    font-size: 10px;
}

#map {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #111;
}


#minimap {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #222;
    overflow: hidden;
}

#context-view {
    position: fixed;
    bottom: 0;
    background-color: #333;
}

#context-view h3 {
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#context-view h4 {
    font-size: 12px;
    text-align: center;
    padding: 1px 4px 3px 4px;
    margin-bottom: 1px;
    background-color: #282828;
    cursor: pointer;
}

#context-view div.owner-bar {
    width: 100%;
    height: 3px;
}

#context-view table {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 4px;
}

#context-view table td {
    padding-top: 2px;
    padding-bottom: 2px;
}

#context-view table.zone-list td {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

#context-view table.zone-list td:hover {
    background-color: #222;
}

#context-view table td.name {
    text-align: left;
    padding-left: 5px;
}

#context-view table td.name div {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
}

#context-view table td.action {
    text-align: right;
    padding-right: 10px;
    color: #A0A0A0;
    font-size: 10px;
}

#context-view table td.action span {
    color: #EEE;
    background-color: #222;
    cursor: pointer;
    padding: 1px 5px;
    margin-right: -5px;
}

#context-view table td span:hover {
    background-color: #161616;
}

#tabbed-view {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #222;
}

#attack-view {
    position: fixed;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: default;
}

#attack-view .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #222;
    color: #FFF;
    text-align: center;
    border-left: 1px solid #888;
    border-bottom: 1px solid #888;
    cursor: pointer;
}

#attack-view .question {
    line-height: 1.4;
}

#attack-view .answers {
    position: absolute;
    left: 0;
    bottom: 0;
}

#attack-view .answers table {
    
}

#attack-view .answers table td div {
    background-color: #222;
    text-align: center;
    cursor: pointer;
}

#attack-view .answers table td div:hover {
    background-color: #333;
}

#attack-view .answers table td div span {
    display: block;
    float: left;
    border-right: 1px solid #777;
    padding-right: 0.3em;
    margin-right: 0.3em;
    color: #999;
    height: 100%;
}

#top-view {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(41, 41, 41, 0.5);
}

#top-view svg {
    cursor: pointer;
    display: inline-block;
}

.tabs {
    font-size: 10px;
    height: 20px;
    background-color: #333;
    color: #bbb;
}

.tabs ul { list-style: none; }
.tabs ul li {
    line-height: 18px;
    display: block;
    float: left;
    padding: 1px 8px;
    cursor: pointer;
    text-transform: uppercase;
}
.tabs ul li:hover {
    background-color: #2A2A2A;
}
.tabs ul li.active {
    background-color: #222;
}

.tabs h1 {
    font-size: 14px;
    line-height: 20px;
    padding-right: 5px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
    color: #888;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.tabs h1:hover {
    color: #EEE;
}

input {
    background-color: #444;
    border: 0;
    color: #EEE;
    font-size: 12px;
    display: block;
    padding: 0;
    cursor: text;
    font-family: 'Open Sans', sans-serif;
}

.messages p {
    margin-bottom: 2px;
}

.messages span.from {
    font-weight: bold;
}

.messages p.error {
    color: #F05353;
}

.scroll-outer {
    overflow: hidden;
    position: relative;
}

.scroll-outer .scroll-inner {
    position: absolute;
}

.scroll-outer .scroll-bar {
    display: none;
    position: absolute;
    right: 0;
    width: 5px;
    background-color: #888;
    cursor: pointer;
}

.scroll-outer:hover .scroll-bar,
.scroll-outer.unselectable .scroll-bar {
    display: block;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}